.main{
    width:75vw;
    margin: 50px auto;
}
.card{
    margin: 10px auto;
}
body{
    background-color: aliceblue !important;
}
.header{
    background-color: aquamarine;
    min-height: 20vh;
}
.header-text{
    text-align: center;
}
.content{
    background-color: burlywood;
}